* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  .App {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
  }
  
  .results {
    padding-bottom: 3rem;
  }
  
  .profile-card {
    overflow: auto;
    background-color: blueviolet;
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 10px rgb(168, 168, 168);
  }
  
  .card-header {
    margin: auto;
    padding: 30px;
  }
  
  .img-profile {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
  }
  
  .img-profile img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-footer {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    height: 50px;
  }
  
  .medsos {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: auto;
  }
  
  .medsos p {
    margin-left: 10px;
  }
  
  .medsos img {
    width: 30px;
    height: 30px;
  }
  
  .medsos svg {
    width: 30px;
    height: 30px;
  }
  
  input {
    padding: 15px;
    border: 0;
    border-radius: 3px;
    color: #666;
    background-color: rgb(227, 227, 227);
    text-align: center;
    font-size: 25px;
    outline: none;
    width: 25%;
  }
  
  td {
    text-align: left;
    font-size: 23px;
    padding-left: 10px;
  }
  